body, h1, h2, h3, h4, h5, h6, li, ol, u, p {
	margin: 0;
}

*{
	box-sizing: border-box;
}

body {
	font-family: "Gilroy";
	background-color: #E5E5E5;
}

.triangle {
	border: 12px solid transparent;
    border-right: 0px solid var(--color-blue);
    border-bottom: 12px solid var(--color-blue);
    margin-bottom: 9px;
    margin-right: 2px;
}

.network {
	margin-top: 34px;
	display: flex;
	justify-content: space-around;
}

.block {
	margin-right: 10px;
}

.block:last-child {
	margin-right: 0px;
}

.last {
	margin-right: 40px;
}