body, h1, h2, h3, h4, h5, h6, li, ol, u, p {
	margin: 0;
}

*{
	box-sizing: border-box;
}

body {
	font-family: "Gilroy";
	background-color: #E5E5E5;
}

.triangle {
	border: 12px solid transparent;
    border-right: 0px solid var(--color-blue);
    border-bottom: 12px solid var(--color-blue);
    margin-bottom: 9px;
    margin-right: 2px;
}

.network {
	margin-top: 34px;
	display: flex;
	justify-content: space-around;
}

.block {
	margin-right: 10px;
}

.last {
	margin-right: 40px;
}

@media screen and (max-width: 1024px) {
	.block.-center {
		display: flex;
	}

	.block.-center:last-child {
		margin-right: 0px;
	}

	.block.-last:last-child{
		margin-right: 0px;
	}

	.left {
		margin-right: 10px;
	}
}

@media screen and (max-width: 850px) {
	.block.-center {
		justify-content: center;
	}
	.block.-last {
		display: flex;
		justify-content: center;
		margin-right: 0px;
	}

	.left {
		margin-right: 0px;
	}
}