.card {
	width: 475px;
	background-color: #FFFFFF;
	border-radius: 30px;
	padding: 30px;
	margin-bottom: 25px;
	height: min-content; 
}

.task {
	border-radius: 10px;
	background-color: var(--color-birch);
	margin-bottom: 12px;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px;
	padding-right: 30px;
}

.card.-task {
	height: 562px;
}

.card.-date {
	height: 147px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card.-me {
	height: 294px;
}

.card.-learn {
	height: 569px;
}

.card.-calendar {
	padding: 30px 54px 30px 54px;
}

.card.-load {
	padding: 20px 30px;
	height: 102px;
	background: linear-gradient(to right, var(--color-lightblue) 65%, white 35%);
}

.card.-search {
	padding: 28px;
	display: flex;
	height: 80px;
}

.card.-notice {
	padding: 20px;
}

.card.-diagram {
	height: 248px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) {
	.card {
		width: auto;
	}
}

@media screen and (max-width: 850px) {
	.card {
		width: 475px;
	}
}

@media screen and (max-width: 487px) {
	.card {
		min-width: 100%;
	}
}