.weather {
	width: 28px;
	height: 23px;
}

.pie {
	display: flex;
	align-items: center;
}

.avatar {
	margin-bottom: 	20px;
}

.check {
	margin-right: 14px;
}

.Learn {
	width: 100%;
	margin-bottom: 30px;
}

.networks {
	height: 1%;
}

.download {
	width: 25px;
	height: 24px;
	margin-right: 10px;
}

.search {
	margin-right: 10px;
}

.Notification {
	margin-right: 14px;
}