.text {
	font-size: 14px;
	color: var(--color-blue);
}

.month {
	color: var(--color-blue);
	font-size: 38px; 
}

.title.-time {
	color: var(--color-blue);
	font-weight: 700;
	font-size: 30px;
}

.title.-weather {
	color: var(--color-blue);
	font-size: 24px;
	margin-left: 10px;
}

.name {
	color: var(--color-blue);
	margin-top: 20px;
	margin-bottom: 5px;
}

.name.-margin {
	margin: 0px;
}

.name.-white {
	color: #E6E6FF;
}

.text.-gray {
	line-height: 140.1%;
}

.textcenter {
	text-align: center; 
	padding: 0px 20px 0px 20px;
}

.text.-gray.-top {
	margin-top: 5px;
}

.text.-gray.-bottom {
	margin-bottom: 5px;
}

.subtitle {
	color: var(--color-blue);
	font-size: 15px;
}

.subtitle.-big {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 21px;
}

.subtitle.-big.-margin {
	margin-top: 16px;
}